*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: sans-serif;
}
html{
    font-size: 90%;
}
body{
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.content{
    text-align: center;
}
img{
    max-width: 80%;
    height: auto;
}